<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yao.app.nebula.persistence.UserMapper">
	<select id="findUser" parameterType="string" resultType="UserBean">
		select id,username,email,nickname,sex,gravatar_mail as gravatarMail,register_time as registerTime from users where username =#{username}
	</select>
  
    <select id="queryUsers" resultType="UserBean">
        select id,username,email,nickname,sex,gravatar_mail as gravatarMail,register_time as registerTime from users
    </select>
    
    <insert id="insertUser" parameterType="UserBean" keyProperty="id" useGeneratedKeys="true">
    	INSERT INTO `users` (``username`, `email`, `nickname`, `sex`, `gravatar_mail`)
		VALUES (#{username}, #{email}, #{nickname}, #{sex}, #{gravatarMail})
    </insert>
</mapper>